* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary: #26c0ab;
  --very-dark-cyan: #00494d;
  --dark-grayish-cyan: #5e7a7d;
  --grayish-cyan: #7f9c9f;
  --light-grayish-cyan: #c5e4e7;
  --very-light-grayish-cyan: #f4fafa;
  --white: #fff;
}
html {
  background-color: var(--light-grayish-cyan);
  font-weight: 700;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
  min-width: 100vh;
  height: 100vh;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15;
  margin: 0;
}
main {
  color: var(--very-dark-cyan);
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}
h1 {
  text-transform: uppercase;
  width: 5ch;
  margin: 2rem;
  overflow-wrap: break-word;
  font-size: 1rem;
}
label {
  font-size: 0.6rem;
  margin-top: 1.25rem;
  display: inline-block;
}
input {
  background-color: var(--very-light-grayish-cyan);
  border: none;
  text-align: center;
}
@font-face {
  font-family: __Space_Mono_6e119c;
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(./_next/static/media/5e72162d481edcbc.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Space_Mono_6e119c;
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(./_next/static/media/ab18a523d5ef58f9.woff2) format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf,
    U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Space_Mono_6e119c;
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(./_next/static/media/07d9ed1015913add.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}
@font-face {
  font-family: __Space_Mono_6e119c;
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url(./_next/static/media/8714fbd0181aa9ae.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01a0-01a1,
    U+01af-01b0, U+1ea0-1ef9, U+20ab;
}
@font-face {
  font-family: __Space_Mono_6e119c;
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url(./_next/static/media/0bb59ab0590540e7.woff2) format("woff2");
  unicode-range: U+0100-024f, U+0259, U+1e??, U+2020, U+20a0-20ab, U+20ad-20cf,
    U+2113, U+2c60-2c7f, U+a720-a7ff;
}
@font-face {
  font-family: __Space_Mono_6e119c;
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url(./_next/static/media/b81bb1de8337cbb9.p.woff2) format("woff2");
  unicode-range: U+00??, U+0131, U+0152-0153, U+02bb-02bc, U+02c6, U+02da,
    U+02dc, U+2000-206f, U+2074, U+20ac, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+feff, U+fffd;
}
@font-face {
  font-family: __Space_Mono_Fallback_6e119c;
  src: local("Arial");
  ascent-override: 83.51%;
  descent-override: 26.92%;
  line-gap-override: 0%;
  size-adjust: 134.12%;
}
.__className_6e119c {
  font-family: __Space_Mono_6e119c, __Space_Mono_Fallback_6e119c;
  font-style: normal;
}
