* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary: hsl(172, 67%, 45%);
  --very-dark-cyan: hsl(183, 100%, 15%);
  --dark-grayish-cyan: hsl(186, 14%, 43%);
  --grayish-cyan: hsl(184, 14%, 56%);
  --light-grayish-cyan: hsl(185, 41%, 84%);
  --very-light-grayish-cyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html {
  background-color: var(--light-grayish-cyan);
  font-family: "Space Mono";
  font-weight: 700;
  line-height: 1.15;
  font-size: 1.5rem;
  text-align: center;
  min-width: 100vh;
  height: 100vh;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.15;
  margin: 0;
  font-family: "Space Mono";
}

main {
  color: var(--very-dark-cyan);
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
}

h1 {
  text-transform: uppercase;
  width: 5ch;
  margin: 2rem;
  overflow-wrap: break-word;
  font-size: 1rem;
}

label {
  font-size: 0.6rem;
  margin-top: 1.25rem;
  display: inline-block;
}

input {
  background-color: var(--very-light-grayish-cyan);
  border: none;
  text-align: center;
}
