.container {
  border-radius: 5%;
  background-color: white;
  width: 80%;
  max-width: 1000px;
}

.inner-container {
  display: flex;
  padding: 1rem;
}

.left-side {
  width: 50%;
  padding: 0 1rem 1rem 1rem;
  text-align: left;
}

.input-text {
  width: 100%;
  padding: 0.5em;
  color: var(--very-dark-cyan);
  text-align: right;
  margin-top: 0.5rem;
}

.right-side {
  width: 50%;
  color: var(--primary);
  border-radius: 5%;
  background-color: hsl(183, 100%, 15%);
  text-align: center;
  position: relative;
  padding: 1rem;
}

.total-container {
  display: grid;
  grid-template-columns: minmax(0, 0.75fr) minmax(0, 1.25fr);
  row-gap: 1rem;
  margin-top: 0.5rem;
}

.reset-btn {
  width: 80%;
  text-transform: uppercase;
  background-color: var(--primary);
  color: var(--very-dark-cyan);
  padding: 0.5em;
  position: absolute;
  bottom: 10%;
  left: 10%;
}

.text-currency-val {
  font-size: 2rem;
  justify-self: end;
  align-self: center;
}

.text-category {
  color: var(--light-grayish-cyan);
  justify-self: start;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  text-align: left;
}

.text-category-sub {
  font-size: 0.6rem;
  color: var(--grayish-cyan);
}
